*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* *<-- показ что применяем стили ко ВСЕМ элтам */
:root {
    --index:calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap:calc(var(--index)*10)
    /* галери гэп для опред ширины между фото */
    /* для разных разреш приб 1vw и 1vh на экран чтобы везде выгл одинаково*/
/* сделать адаптивную картинку */

}
@font-face {
    font-family:raleway-c ;
    src: url(../fonts/raleway-regular.woff2);
    /*  две .. исп для поднятия на ур выше тк их нет в  папке css
     и исп .. мы видим все директории */
}
@font-face {
    font-family:outfit-c ;
    src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3 ,h4 ,h5 ,h6 {
    font-family: outfit-c;



    /* =will change (все элты которые меняются при скроле  
    чтобы не возник изменений и замедлений */
.content, .hero, .main-header, .main-gallery > * {
    will-change: transform;
}
}
body{
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    /* overflow: hidden; */
    /* overflow скрывает гориз прокрутку*/
}
.hero{
    width:calc(var(--index)*33);
    position: absolute;
    /* эта позиция дает свободно плавать */
    left: 37vw;
    top: 10vh;
    z-index: -1;

}
.main-header{
    height: 100vh;
}
.container{
    padding:0 7vw;
    /* первое число верх низ второе по бокам */

}   
.main-title{
    font-size:calc(var(--index) * 8) ;
    /* выражаем с привязкой к ширине и высоте */
    position: absolute;
    width:min-content;
    /* мин конт обознч пернос слов по
     самому длинному слову и подстаивается под него */
     bottom: 12vh;
     line-height: .9;
     /* раст меж строк */
}
    
.main-gallery{
    display: flex;
    padding: calc(var(--index)*8) 0;

}
.main-gallery > * {
    flex: 1;
    /* создал колонки 1 ширины  */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery-item{
    max-width: calc(var(--index) * 21);
/* размеры фото */
margin-bottom: var(--gallery-gap);
/* раст между фото  пометка адаптивное*/
max-height: 180vh;
border-radius: 16px;
}
.gallery-left {
    margin-top: calc(var(--gallery-gap)*1.6);
}
.gallery-right .gallery-item{
    margin-bottom:0 ;
    margin-top: var(--gallery-gap);
}
.text-block {
    color: var(--color-text);
    position: relative;
}
.text-block-h{
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5 rem;
}
.text-block-p{
    line-height: 1.6;
}


/* АДАПТИРОВАТЬ ПОД ТЕЛЕФОН НИЖЕ*/
@media screen and ( max-width:768px) {
    .hero {
        width: calc(var(--index)*30);
        left:auto;

    }
    .main-title{
       top: 60vh;
    }
    .main-gallery {
    /* создал колонки 1 ширины  */
    display: grid;
    grid-template-columns: 1fr;
   


        
    }
    .gallery-item{
         max-width: calc(var(--index) * 26);
         margin-bottom: 6vh;

        
    }
    .gallery-right .gallery-item{
        margin-top:6vh;
    }
    .gallery-left{
         margin-top: 0;
    }
    
}
